.container {
    padding: 30px;
    display: flex;
    width: 500px;
    height: 500px;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.buckets {
    width: 30%;
    height: 30%;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.listItems {
    cursor: move;
}

.userInput {
    user-select: none;
}

.taskSelected {
    background-color: blueviolet;
}