body {
    margin: 0px;
    padding: 0px;
}

body,
li,
input,
div,
button {
    /* font-family: 'Satoshi', sans-serif; */
    /* font-family: 'Paquito', serif; */
    font-family: 'Chubbo', sans-serif;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
}

.container {
    padding: 10px;
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 0px 10px;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.buckets {
    width: 19%;
    height: 45%;
    /* background-color: #E7473C; */
    background: linear-gradient(#E7473C, rgb(15, 15, 15));
    border-radius: 5px;
    padding: 5px;

}

.listItems {
    cursor: move;
}

.userInput {
    user-select: none;
    display: flex;
    gap: 5px;
    margin-bottom: 4px;
    background-color: #E7473C;
}

.taskSelected {
    background-color: rgb(15, 15, 15);
    color: #E7473C;
}

li {
    list-style: none;
    padding: 4px;
    margin: 2px 0px;
    background-color: #ea645a;
    border-radius: 2px;
}

ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div {
    overflow: auto;
}

input[type=text] {
    width: 100%;
    padding: 4px;
    border-radius: 2px;
    border: none;
}

input,
button {
    color: #E7473C;
}

button {
    border-radius: 2px;
    border: none;
}

button:hover {
    background-color: #ea645a;
    color: rgb(15, 15, 15);
}

/* @media (max-width: 500px) {

    body,
    li,
    input,
    div,
    button {
        font-family: 'Chubbo', sans-serif;
        font-size: 20vh;
        line-height: 25vh;
        box-sizing: border-box;
        background-color: rgb(15, 15, 15);
    }

    .container {
        padding: 10px;
        display: flex;
        width: 100vw;
        height: 100vh;
        gap: 0px 10px;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    .buckets {
        width: 30vw;
        height: 30vh;
        background: linear-gradient(#E7473C, rgb(15, 15, 15));
        border-radius: 5px;
        padding: 5px;

    }
} */